<footer class="pie-pagina">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <form action="">
                    <div class="form-group">
                        <input  class="form-control" type="text" id="Nombre" placeholder="Nombre">
                        <input  class="form-control" type="text" id="Apellido" placeholder="Apellido">
                        <input  class="form-control" type="email" id="Correo" placeholder="Correo Electrónico">                       
                        <input  class="form-control" type="tel" id="Telefono" placeholder="+57 315 1234">
                        <textarea class="form-control" name="" id="mensaje" cols="30" rows="4" placeholder="Mensaje"></textarea>
                        <button type="submit" class="btn btn-outline-light">Enviar</button>


                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 redes-footer">
                        <a href=""><img src="/assets/img/lg_face.png" width="35px" alt=""></a>
                        <a href=""><img src="/assets/img/lg_insta.png" width="35px" alt=""></a>
                        <a href=""><img src="/assets/img/lg_what.png" width="35px" alt=""></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 datos-footer">
                        <div class="datos">
                            <p>Sede principal</p>
                            <p>Calle 137a # 113-13</p>
                            <p>Bogotá - Colombia</p>
                            <p>PBX: (+57)1 688 4221</p>
                            <hr>
                            <p>&copy; 2020 Desarrollado por Jonathan David Espitia</p>
                            <p>Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
